BODY,BR {       font-family:      times;
        font-size:        12pt;
        color:            black;
        background-color: eeeebb;     
	margin-left: 10%;
	margin-right: 10%;
	}
DL,UL,OL,DIR,MENU,TABLE,DD   {       margin-left: 3%;
        font-size:        12pt;
        font-family: times;
P  {       margin-left: 0%;
        font-size:        12pt;
        font-family: times;
}               
QUOTE  {       margin-left: 5%;
        font-size:        12pt;
        font-family: times;
}
PRE  { margin-left: 5%;
        font-family: "courier new", courier, monospace;
     } 
H1,H2,H3,H4       { color:  #6666AA;
       font-family:  times;
       font-weight: bold;
       margin-left: 0%;       }
DIV.leftmarg     {  margin-left: 5%;
       font-family:  times;    }
A         {text-decoration: none; }
A:active  {color: #ff0000;
       text-decoration: underline}
A:visited {color: #666666; }
.note    {color: orange;}
.warning {color: red; font-weight: bold}
